{% extends 'system/app/index.html' %}
{% block page %} invoice create {% endblock page %}
{% block title %}invoice create{% endblock %}
{% load static %}{% load bulma_tags %}
{% block content %}
<br>
<section class="">
    <div class="container">
        <div class="card white-ter">
            <div class="hero-body card-body">
                <form class="" method="POST" action="">
                    {% csrf_token %}
                    <div class="columns is-centered">
                        <div class="column is-one-third">
                            <label for="">Customer</label>
                            <input class="form-control" type="text" value="{{awb.receiver_name}}" name="customer" id="id_customer">
                        </div>

                        <div class="column is-one-third">
                            <label for="">Customer Phone</label>
                            <input class="form-control" type="text" value="{{awb.receiver_tel}}" name="customer_phone" id="id_customer_phone">
                        </div>
                        <div class="column is-one-third">
                            <label for="">Billing Address</label>
                            <input class="form-control" type="text" value="{{awb.receiver_city}}" name="billing_address" id="id_billing_address">
                        </div>
                    </div>
                    <div class="columns is-centered">
                       
                        <div class="column is-one-third">
                            date: <input class="form-control input" type="date" required name="date">
                        </div>
                        <div class="column is-one-third">
                            due-date: <input class="form-control input" type="date" required name="due_date">
                        </div>
                    </div>

                    <div class="table-responsive">
                    <table class="table is-fullwidth is-bordered is-hoverable is-striped datanew">
                        <tbody>
                            <thead>
                                <tr>
                                    <th>Product/Service</th>
                                    <th>Description</th>
                                    <th>QTY</th>
                                    <th>WEIGHT</th>
                                    <th>RATE</th>
                                    <th>AMOUNT$</th>
                                </tr>
                               
                                
                                <tr>
                                    <td><input type="text" name="service" value="{{awb.awb}}" placeholder="service" class="form-control input"> </td>
                                    <td><input type="text" name="description" value="{{awb.desc}}" placeholder="Description" class="form-control input"></td>
                                    <td><input type="text" name="quantity" value="{{awb.awb_pcs}}" placeholder="QTY" class="form-control input"></td>
                                    <td><input type="text" name="chargable_weight" value="{{awb.chargable_weight}}" placeholder="Weight" class="form-control input chargable-weight"></td>
                                    <td><input type="text" name="rate" value="" placeholder="Rate" class="form-control input rate"></td>
                                    <td class="amount"></td>
                                   
                                </tr>
                               
                            </thead>
                        </tbody>

                    </table>
                </div>
                    <div class="row spacer">
                        <div class="col-4 offset-2">
                            <button type="submit" class="button btn btn-success btn-block is-info is-half">Generate invoice</button>
                        </div>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="column">
                            <h3 class="title is-4">Total($): <span id="total"></span></h3>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



{% endblock %}

{% block script %}
<script type="text/javascript">
    $('table input').on("input", function () {
        var total = []
        var $tr = $(this).closest('tr');
        var rate = $("input.rate", $tr).val();
        var chargableWeight = $('input.chargable-weight', $tr).val();
        amt = rate * chargableWeight;
        // console.log(amt);
        $('.amount', $tr).html(amt);
        calc_total();
    });

    function calc_total() {
        var sum = 0;
        $(".amount").each(function () {
            sum += parseFloat($(this).text());
        });
        console.log(sum);
        $('#total').text(sum);
    }
</script>


<script type="text/javascript">
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        console.log(newElement);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
            var name = $(this).attr('name')
            if (name) {
                name = name.replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({ 'name': name, 'id': id }).val('').removeAttr('checked');
            }
        });
        newElement.find('label').each(function () {
            var forValue = $(this).attr('for');
            if (forValue) {
                forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
                $(this).attr({ 'for': forValue });
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        // $("div.form-row.button.is-primary").not(":last").hide();
        // var conditionRow = $('.form-row:not(:last)');
        // conditionRow.find('.button.is-primary')
        // .hide();
        // .removeClass('btn-success').addClass('btn-danger')
        // .removeClass('add-form-row').addClass('remove-form-row')
        // .html('-');
        return false;
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1) {
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i = 0, formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).find(':input').each(function () {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    $(document).on('click', '.add-form-row', function (e) {
        e.preventDefault();
        cloneMore('table tr:last', 'form');
        return false;
    });
    $(document).on('click', '.remove-form-row', function (e) {
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });

</script>
{% endblock %}