{% extends 'system/app/index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Make Delivery AWB{% endblock %}

{% block page %}Make Delivery AWB{% endblock page %}
{% block slogan %}List of Make Delivery AWB{% endblock slogan %}

{% block style %}
    <style>
        .hide-accept-form {
            display: none;
        }
        .hide-response-form {
            display: none;
        }
        .hide-add-form {
            display: none;
        }
        /* Modal styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 10000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
            background-color: #fefefe;
            margin: 16% auto;
            margin-left: 26%;
            padding: 20px;
            border: 1px solid #888;
            width: 60%;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="page-title"></div>
    <div class="page-btn">
        {% if request.user.acceptance %}
            <a href="{% url 'accept_form_view' %}" class="btn btn-added">
                <img src="{% static 'system/assets/img/icons/plus.svg' %}" alt="img" class="me-1">New AWB
            </a>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-path">
                    <a class="btn btn-filter" id="filter_search">
                        <img src="{% static 'system/assets/img/icons/filter.svg' %}" alt="img">
                        <span><img src="{% static 'system/assets/img/icons/closes.svg' %}" alt="img"></span>
                    </a>
                </div>
                <div class="search-input">
                    <a class="btn btn-searchset"><img src="{% static 'system/assets/img/icons/search-white.svg' %}" alt="img"></a>
                </div>
                {% include 'system/partials/_messages.html' %}
            </div>
            <div class="wordset">
                <ul>
                    <li><a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static 'system/assets/img/icons/pdf.svg' %}" alt="img"></a></li>
                    <li><a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static 'system/assets/img/icons/excel.svg' %}" alt="img"></a></li>
                    <li><a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static 'system/assets/img/icons/printer.svg' %}" alt="img"></a></li>
                </ul>
            </div>
        </div>
        
        <div class="card mb-0" id="filter_inputs">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 d-flex justify-content-between">
                        <div class="form-group">
                            <select name="status" id="id_status" class="form-control">
                                <option value="delivered" class="form-control">Delivery</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="date" id="id_date" name="date" placeholder="Date" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="time" name="time" id="id_time" placeholder="Time" class="form-control">
                        </div>
                        <div class="form-group">
                            <input name="note" id="id_note" placeholder="Note" class="form-control">
                        </div>
                        <div class="form-group">
                            <select name="terminal" id="id_terminal" class="form-control">
                                <option value="CAN - Guanzhou">CAN - Guanzhou</option>
                                <option value="HKG - HongKong">HKG - HongKong</option>
                                <option value="DAR - Dar es salaam">DAR - Dar es salaam</option>
                                <option value="DXB - Dubai">DXB - Dubai</option>
                                <option value="NBO - Nairobi">NBO - Nairobi</option>
                                <option value="SHJ - Sharjah">SHJ - Sharjah</option>
                                <option value="JNB - Johanesburg">JNB - Johanesburg</option>
                                <option value="MCT - Muscat">MCT - Muscat</option>
                                <option value="BOM - Mumbai">BOM - Mumbai</option>
                                <option value="ADD - Addis Ababa">ADD - Addis Ababa</option>
                                <option value="ZNZ - Zanzibar">ZNZ - Zanzibar</option>
                            </select>
                        </div>
                        <div class="update-btn ml-3">
                            <button type="submit" id="deliverd_btn" class="btn btn-danger add_deliverd_status">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table datanew">
                <thead>
                    <tr>
                        <th>
                            <label class="checkboxs">
                                <input type="checkbox" id="select-all">
                                <span class="checkmarks"></span>
                            </label>
                        </th>
                        <th>RECEIVER NAME</th>
                        <th>AWB</th>
                        <th>Order Number</th>
                        <th>AWB PCS</th>
                        <th>AWB KG</th>

                    </tr>
                </thead>
                <tbody>
                    {% for pc in pcs %}
                    <tr data-id="{{ pc.id }}">
                        <td>
                            <label class="checkboxs">
                                <input type="checkbox" name="awb_id[]" value="{{ pc.id }}" class="deliverd_status">
                                <span class="checkmarks"></span>
                            </label>
                        </td>
                        <td class="productimgname">
                            <a href="#" class="awb-link" data-id="{{ pc.id }}">{{ pc.receiver_name }}</a>
                        </td>
                        <td>{{ pc.awb }}</td>
                        <td>{{ pc.order_number }}</td>
                        <td>{{ pc.awb_pcs }}</td>
                        <td>{{ pc.awb_kg }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<!-- Include Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Include Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    flatpickr("#id_date", {
        dateFormat: "Y-m-d",
        allowInput: true
    });
    flatpickr("#id_time", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true,
        allowInput: true
    });

    $(document).ready(function(){
        $('#deliverd_btn').click(function(){
            if(confirm('Are you sure?')){
                var id = [];
                $('.deliverd_status:checked').each(function(i){
                    id[i] = $(this).val();
                });
                if(id.length === 0){
                    alert('Please select an item');
                } else {
                    console.log(id);
                    $.ajax({
                        type: 'POST',
                        url: '/sifex/delivered/',
                        data: {
                            'csrfmiddlewaretoken': csrftoken,
                            id,
                            'status': $('#id_status').val(),
                            'date': $('#id_date').val(),
                            'time': $('#id_time').val(),
                            'note': $('#id_note').val(),
                            'terminal': $('#id_terminal').val(),
                        },
                        success: function(res){
                            window.location = '/sifex/parcel_import/';
                        },
                        error: function(err){
                            console.log(err);
                        }
                    });
                }
            }
        });

      
        // Handling the modal
            document.querySelectorAll('.awb-link').forEach(function(link) {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    var awbId = this.dataset.id;
                    $.ajax({
                        type: 'GET',
                        url: '/sifex/awb-details/' + awbId + '/',
                        success: function(data) {
                            var modalTableBody = document.querySelector('#modalTable tbody');
                            modalTableBody.innerHTML = '';
                            
                            // Check if data.locations exists and is an array
                            if (data && Array.isArray(data.locations)) {
                                data.locations.forEach(function(location) {
                                    var row = '<tr><td>' + location.rack + '</td><td>' + location.bay + '</td><td>' + location.pcs + '</td></tr>';
                                    modalTableBody.insertAdjacentHTML('beforeend', row);
                                });
                            } else {
                                modalTableBody.insertAdjacentHTML('beforeend', '<tr><td colspan="3">No details available</td></tr>');
                            }
                            
                            document.querySelector('#awbModal').style.display = 'block';
                        },
                        error: function(err) {
                            console.log(err);
                        }
                    });
                });
            });


        // Close the modal
        $('.close').click(function(){
            $('#awbModal').hide();
        });

        $(window).click(function(event){
            if(event.target == document.getElementById('awbModal')){
                $('#awbModal').hide();
            }
        });
    });
});

</script>
{% endblock %}
