{% extends 'system/app/index.html' %}
{% block page %} Post list {% endblock page %}
{% block title %}Post list{% endblock %}
{% load static %}
{% block style %} 
  <style>
    .myModalAlert{
      position: absolute;
      z-index: 100;
      top: 50vh;
      left: 35vw;
    }

    .myModal{
      position: absolute;
      z-index: 100;
      top: 50vh;
      left: 15vw;
      width: 80vw;
    }

    .alert h3 {
      color: #fff;
    }
  </style>
{% endblock style %}
{% block content %}

 <div class="page-header">
    <div class="page-title">

    </div>
    <div class="page-btn">
        
        {% if request.user %}
        <a href="{% url 'blog_create' %}" class="btn btn-added"><img src="{% static 'system/assets/img/icons/plus.svg' %}" alt="img" class="me-1">new post</a>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-body">
    <div class="table-top">
    <div class="search-set">
    <div class="search-path">
    <a class="btn btn-filter" id="filter_search">
        <img src="{% static 'system/assets/img/icons/filter.svg' %}" alt="img">
        <span><img src="{% static 'system/assets/img/icons/closes.svg' %}" alt="img"></span>
    </a>
    </div>
    <div class="search-input">
    <a class="btn btn-searchset"><img src="{% static 'system/assets/img/icons/search-white.svg' %}" alt="img"></a>
    </div>
    {% include 'system/partials/_messages.html' %}
    </div>
    <div class="wordset">'
    <ul>
    <li>
    <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static 'system/assets/img/icons/pdf.svg' %}" alt="img"></a>
    </li>
    <li>
    <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static 'system/assets/img/icons/excel.svg' %}" alt="img"></a>
    </li>
    <li>
    <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static 'system/assets/img/icons/printer.svg' %}" alt="img"></a>
    </li>
    </ul>
    </div>
    </div>
    
    <div class="card mb-0" id="filter_inputs">
    <div class="card-body pb-0">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 d-flex justify-content-between">
            <div class="form-group">
                <select name="status" id="id_status" class="form-control">
                    <option value="loaded" class="form-control">loaded</option>
                </select>
                
            </div>
            <div class="form-group">
                <input type="date" id="id_date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="form-group">
                <input type="time" name="time" id="id_time" placeholder="Time" class="form-control">
            </div>

            <div class="form-group">
                <input name="note" id="id_note" class="form-control" placeholder="Note">
            </div>
            <div class="form-group">
                <select name="terminal" id="id_terminal" class="form-control">
                    <option value="CAN - Guanzhou">CAN - Guanzhou</option>
                    <option value="HKG - HongKong">HKG - HongKong</option>
                    <option value="DAR - Dar es salaam">DAR - Dar es salaam</option>
                    <option value="DXB - Dubai">DXB - Dubai</option>
                    <option value="NBO - Nairobi">NBO - Nairobi</option>
                    <option value="SHJ - Sharjah">SHJ - Sharjah</option>
                    <option value="JNB - Johanesburg">JNB - Johanesburg</option>
                    <option value="MCT - Muscat">MCT - Muscat</option>
                    <option value="BOM - Mumbai">BOM - Mumbai</option>
                    <option value="ADD - Addis Ababa">ADD - Addis Ababa</option>
                </select>
                
            </div>
            <div class="update-btn ml-3">
                <button type="submit" id="load_status" class="btn btn-danger add_loaded_status" >confirm</button>
            </div>
        </div>
    </div>
    </div>
    </div>
    
    <div class="table-responsive">
    <table class="table  datanew">
    <thead>
    <tr>
    <th>
    <label class="checkboxs">
    <input type="checkbox" id="select-all">
    <span class="checkmarks"></span>
    </label>
    </th>
    <th>Title</th>
    <th>Date created </th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for blog in blogs %}
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox" name="awb_id[]" value="{{pc.id}}" id="checkbox" class="loaded_status">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td class="productimgname">
        <a href="">{{blog.title}}</a>
    </td>
    <td>{{blog.date_created}}</td>
    <td>
    <a class="me-3" href="">
    <img src="{% static 'system/assets/img/icons/eye.svg' %}" alt="img">
    </a>
    {% if request.user.office %}
    <a class="me-3" href="">
    <img src="{% static 'system/assets/img/icons/edit.svg' %}" alt="img">
    </a>
    {% endif %}
    <a class="confirm-text" href="">
    <img src="{% static 'system/assets/img/icons/delete.svg' %}" alt="img">
    </a>
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
    $('#load_status').click(function(){
        if(confirm('Are you sure you want to load awb')){
            var id =[]
            $('#checkbox:checked').each(function(i){
                id[i] = $(this).val()
            })
            if(id.length === 0){
                alert('please select item')
            }else {
                $.ajax({
                    type: 'POST',
                    url: '/sifex/loaded/',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        id,
                        'status': $('#id_status').val(),
                        'date': $('#id_date').val(),
                        'time': $('#id_time').val(),
                        'note': $('#id_note').val(),
                        'terminal': $('#id_terminal').val(),
                        
                    },
                    
                    success: function(res){
                        // console.log(res)
                        window.location = '/sifex/accept_console/'
                    },
                    error: function(err){
                        console.log(err)
                    }
                });
            
            }
        }
    })
})
</script>
{% endblock %}